html{
    font-size:62.5% ;
}

body{
    margin: 0 auto;
    max-width: 900px;
    background-color: rgb(80, 74, 74);
    font-size: 1.6rem;
    
}

main{
    background-color: rgb(241, 245, 248);
}
h2{
    padding: 15px;
}
.cabecalho{
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo{
    background: url(logo3.png)  center center no-repeat ;
    width: 140px;
    height: 110px;
    display: inline-block;
}

.cabecalho .logo h1{
    font-size: 0;
}

.cabecalho nav{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top:40px ;
}

.cabecalho ul li{
    display: inline-block;
    padding: 15px;
    
}

.cabecalho ul li a{
    color: rgb(202, 211, 204);
    
}
.cabecalho ul li a:hover{
    font-weight: bold;
    
    color: rgb(123, 140, 238);
}

.facu{
    margin: 10px;
    padding: 10px;
}
.facu p{
    padding: 5px;
}


.habilidade-competencia{
    margin: 15px;
}
.habilidade-competencia p{
    margin: 5px;
}

.projetos-git p{
    padding: 5px;
}
.projetos-git a:hover{
    padding: 5px;
}
.contato p{
    padding: 5px;
}

.redes-sociais a img{
    width: 40px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    
    
}

.rodape ul li a{
    color: rgb(202, 211, 204);
}

.rodape ul li{
    display: inline-block;
    padding: 15px;
}
.rodape ul li a:hover{
    font-weight: bold;
    color: rgb(123, 140, 238);
}
.rodape nav{
    display: inline-block;
    position: absolute;
    right: 55%;
    margin-top:30px ;
}



